@media (min-width:1920px){
    body{
        width: 1920px;
        margin: 0 auto;
    }
}

html{
    font-size: 20px;
}

.title__title{
    
}

.main-space {
    display: flex;
    gap: 430px;
}
.main-space .form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form {
    padding-top: 114px;
    border-top: 1px solid var(--slate-gray-600);
    margin-bottom: 41px;
}
.form label{
    display: none;
}
.form input {
    display: flex;
    gap: 10px;
    /* width: 532px; */
    /* height: 43px; */
    width: 100%;
    height: 43px;
}
.check{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
    font-size: 16px;
}
.check__left{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.check__right{
    font-size: 16px;
}
.check input{
    width: auto;
    height: auto;
}
.check label{
    display: inline-block;
}
.login__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.login__btns a {
    width: 100%;
    height: 43px;
    color: white;
    background-color: var(--slate-gray-500);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__btns a:last-of-type{
    width: 100%;
    height: 43px;
    color: var(--slate-gray-500);
    border: 1px solid var(--slate-gray-500);
    background-color: white;
}
.login__bottom{
    text-align: right;
}
.login__bottom img{
    width: 20px;
    aspect-ratio: 1/1;
}
.login__bottom p{
    margin-bottom: 68px;
    font-size: 16px;
}
.big__box{
    display: flex;
    justify-content: center;
}
.login__sns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.login__sns figure{
    display: flex;
    gap: 20px;
}
.fake__img{
    margin-bottom: 49px;
}
.fakediv{
    width: 180px;
}

@media (max-width:1440px){
    .loginpage .main-space {
    display: flex;
    gap: 190px;
}
    .form {
    padding-top: 60px;
    border-top: 1px solid var(--slate-gray-600);
    margin-bottom: 41px;
}
    .login__sns img{
        width: 40px;
    }
    .main-space {
    display: flex;
    gap: 110px;
}
}

@media (max-width:1024px){
    html{
        font-style: 18px;
    }
    .loginpage .main-space {
    display: flex;
    gap: 100px;
}
    .form {
    padding-top: 60px;
    border-top: 1px solid var(--slate-gray-600);
    margin-bottom: 41px;
}
    .login__sns img{
        width: 40px;
    }
    .main-space {
    display: flex;
    gap: 110px;
}
}

@media (max-width:768px){
    .login__sns img {
    width: 25px;
}
.check {
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 30px;
    font-size: 10px;
    flex-direction: column;
    /* text-align: left; */
}
    .check__left {
    display: flex;
    flex-direction: row ;
    gap: 10px;
}
    .check__right {
    font-size: 10px;
}
    .form input {
    display: flex;
    gap: 10px;
    /* width: 532px; */
    /* height: 43px; */
    width: 100%;
    height: 24px;
}
.login__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
}
    .login__btns a {
    width: 100%;
    height: 28px;
    color: white;
    background-color: var(--slate-gray-500);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .login__btns a:last-of-type {
    width: 100%;
    height: 28px;
    color: var(--slate-gray-500);
    border: 1px solid var(--slate-gray-500);
    background-color: white;
}
.login__bottom p {
    margin-bottom: 10px;
    font-size: 11px;
}
    .form {
    padding-top: 40px;
    border-top: 1px solid var(--slate-gray-600);
    margin-bottom: 30px;
}
    .fake__img {
    margin-bottom: 30px;
}
}